:root{
    --color-primary-dark:#31261A;
    --color-primary-ligt:#FAF4EA;
    --color-brand-light:#819B57;
    --color-brand-dark:#465929;
}

/*Base*/
body{
    color: var(--color-primary-dark);
    font-family: poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

ul{
    list-style-type: none;
}

.button {
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/*link*/
.link{
    color: var(--color-primary-ligt);
}
.link:hover{
    color: var(--color-brand-light);
    font-weight: 600;
}

/*hero-section*/
.hero-title {
    color: var(--color-primary-ligt);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/*advantages-section*/
.advantages-list{
    color: var(--color-primary-ligt);
    background-color:var(--color-brand-light);
}

.section-title{
    color: var(--color-primary-dark);
}

/*traditions section*/
.traditions-text .brand-uppercase{
    color: var(--color-brand-light);
    text-transform: uppercase;
    font-weight: 600;
}

.traditions-text .brand{
    color: var(--color-brand-light);
}