:root{
    --color-primary-dark:#31261A;
    --color-primary-ligt:#FAF4EA;
    --color-brand-light:#819B57;
    --color-brand-dark:#465929;
}

ul{
    list-style-type: none;
}

.button {
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/*link*/
.link{
    color: var(--color-primary-ligt);
}
.link:hover{
    color: var(--color-brand-light);
}

/*hero-section*/
.hero-title {
    color: var(--color-primary-ligt);
    font-family: poppins, sans-serif;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/*advantages-section*/
.advantages-list{
    color: var(--color-primary-ligt);
    background-color:var(--color-brand-light);
}

.section-title{
    color: var(--color-primary-dark);
}