.box{
    /*display: inline;*/
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: crimson;
    padding: 10px;
    border: 5px solid green;
    /*margin: 10px;*/
}

body{
    margin: 0;
}

*{
    box-sizing: border-box;
}