@import "utils/fonts";
@import "utils/variables";
@import "utils/mixins";
@import "utils/texts";

@import "base/base";

@import "utils/utils";

@import "components/buttons";
@import "components/links";
@import "components/header";
@import "components/section";
@import "components/hero-section";
@import "components/advantages-section";
@import "components/traditions-section";
@import "components/chef-card";
@import "components/chefs-section";
@import "components/formats-section";
@import "components/carousels";
@import "components/contact-section";
@import "components/footer-section";
@import "components/modal";
@import "components/form";




