@import "utils/fonts";
@import "utils/variables";
@import "base/base";
@import "utils/mixins";
@import "utils/utils";
@import "utils/texts";

@import "components/buttons";
@import "components/carousel-button";
@import "components/chef-card";
@import "components/format-card";
@import "components/input";
@import "components/links";

@import "layouts/advantages-section";
@import "layouts/chefs-section";
@import "layouts/contact-section";
@import "layouts/conteiner";
@import "layouts/footer-section";
@import "layouts/form-terms";
@import "layouts/formats-section";
@import "layouts/header";
@import "layouts/hero-section";
@import "layouts/modal";
@import "layouts/section";
@import "layouts/traditions-section";





