.chefs-section__title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;

}

.chefs-title {
  position: relative;
  max-height: 168px;
  margin: 0 auto 80px;
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px
}

.chefs-title::after,
.chefs-title::before {
  position: absolute;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
  bottom:24px;
}

.chefs-title::after {
  right: 0;
}

.chefs-title::before {
  left: 0;
}

.chef-photo {
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
  -16px 16px 0 2px var(--color-secondary-dark);
  border-radius: 4px 4px 4px 200px;
}

/*.chefs-title-top {*/
/*    !*white-space: nowrap;*!*/
/*    display: block;*/
/*}*/

.chef-text {
  margin-bottom: 24px;
}

.chef-text :last-child {
  margin-bottom: 0;
}