.footer-section {
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.footer-section::before,
.footer-section::after {
  position: absolute;
  bottom: 0;
  content: "";
  background-repeat: no-repeat;

}

.footer-section::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url("../images/decor-bread-small.png");
}

.footer-section::after {
  width: 378px;
  height: 186px;
  right: 0;
  background-image: url("../images/decor-bread-large.png");
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  color: #A18268;
  font-size: 14px;
  font-weight: 400;
}