.formats-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 444px;
  padding: 24px;
  border-radius: 16px;
  transition: transform 0.3s;
  background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
  overflow: hidden;
}

.format-card:hover {
  transform: scale(1.05);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.formats-title {
  margin-bottom: 80px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.format-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}