.format-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 444px;
  padding: 24px;
  border-radius: 16px;
  transition: transform 0.3s;
  background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
  overflow: hidden;

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
  }

  &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
