.section {
  padding-top: 48px;
  padding-bottom: 48px;

  &__title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;

    &--centered {
      text-align: center;
    }
  }
}