.chefs-section {
  &__title {
    position: relative;
    max-height: 168px;
    margin: 0 auto 80px;

    &::after,
    &::before {
      position: absolute;
      width: 352px;
      border: 2px solid var(--color-brand-light);
      content: '';
      bottom:24px;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }

  &__list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}